<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>京东管理系统</title>
		<link rel="stylesheet" href="css/main.css">

	</head>

	<body>
		<section class="app-main">
			<div class="app-container" id="operation">
				<!-- 搜索栏 -->
				<div class="filter-container">
					
					<div class="filter-item el-input el-input--medium" style="width: 200px;">
						<input id="search_text" class="el-input__inner" autocomplete="off" placeholder="搜索内容" type="text" v-model="stu">
					</div>
					<!-- 搜索按钮 -->
					<button class="el-button filter-item el-button--primary el-button--medium" type="button" onclick="searchStudent()">
						<i class="el-icon-search"></i>
						<span>搜索</span>
					</button>
					<!-- 添加 -->
					<button class="el-button filter-item el-button--primary el-button--medium" type="button" @click="openDialog('添加')">
						<i class="el-icon-add"></i>
						<span>添加</span>
					</button>
				</div>
				<!-- 表格 -->
				<div id="tabledetail" style="width:100%" class="el-table el-table--fit el-table--border el-table--enable-row-hover el-table--enable-row-transition el-table--medium">
					<!-- 表头 -->
					<div class="el-table__header-wrapper">
						<table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 100%;">
							<colgroup>
								<col name="el-table_4_column_26" width="20%">
								<col name="el-table_4_column_27" width="20%">
								<col name="el-table_4_column_28" width="20%">
								<col name="el-table_4_column_29" width="20%">
								<col name="el-table_4_column_33" width="20%">
								<col name="gutter" width="0">
							</colgroup>
							<thead class="has-gutter">
								<tr class="">
									<th colspan="1" rowspan="1" class="el-table_4_c_lumn_26  is-center   is-leaf is-sortable" style="cursor: col-resize;">
										<div class="cell">书籍名称<span class="caret-wrapper"><i class="sort-caret ascending"></i><i class="sort-caret descending"></i></span></div>
									</th>
									<th colspan="1" rowspan="1" class="el-table_4_column_27  is-center   is-leaf">
										<div class="cell">价格</div>
									</th>
									<th colspan="1" rowspan="1" class="el-table_4_column_28   is-center  is-leaf">
										<div class="cell">评论数</div>
									</th>
									<th colspan="1" rowspan="1" class="el-table_4_column_29  is-center   is-leaf">
										<div class="cell">店铺名称</div>
									</th>
									<th colspan="1" rowspan="1" class="el-table_4_column_33  is-center small-padding fixed-width  is-leaf">
										<div class="cell">操作</div>
									</th>
									<th class="gutter" style="width: 0px; display: none;"></th>
								</tr>
							</thead>
					<!-- 		<tbody id="table_body">
								<tr class="el-table__row" v-for="value in stuInfo">
									<td rowspan="1" colspan="1" class="el-table_4_column_27 is-center ">
										<div class="cell"><span>{{value.stuNo}}</span></div>
									</td>
									<td rowspan="1" colspan="1" class="el-table_4_column_34 is-center ">
										<div class="cell"><span>{{value.stuName}}</span> </div>
									</td>
									<td rowspan="1" colspan="1" class="el-table_4_column_29 is-center ">
										<div class="cell"><span>{{value.sex}}</span></div>
									</td>
									<td rowspan="1" colspan="1" class="el-table_4_column_30 is-center">
										<div class="cell"><span class="link-type">{{value.stuClass}}</span></div>
									</td>
									<td rowspan="1" colspan="1" class="el-table_4_column_31 is-center ">
										<div class="cell"><span class="link-type">{{value.age}}</span></div>
									</td>
									<td rowspan="1" colspan="1" class="el-table_4_column_32  status-col is-center">
										<div class="cell"><span class="el-tag el-tag--info el-tag--medium">{{value.admissionDate}}</span></div>
									</td>
									<td rowspan="1" colspan="1" class="el-table_4_column_28 is-center ">
										<div class="cell"><span class="link-type">{{value.job}}</span></div>
									</td>
									<td rowspan="1" colspan="1" class="el-table_4_column_33 is-center small-padding fixed-width">
										<div class="cell">
											<button type="button" @click="openDialog('编辑',value)" class="el-button el-button--primary el-button--mini">
												<span>编辑</span>
											</button>
											<button type="button" @click="DeleteStu(value.id)" class="el-button el-button--danger el-button--mini">
												<span>删除</span>
											</button>
										</div>
									</td>
								</tr>
							</tbody> -->
						</table>
					</div>
				</div>
			</div>
		</section>
		<!-- 下拉框内容 -->
		<div class="el-select-dropdown el-popper" placement="bottom-start" style="display: none; min-width: 90px; transform-origin: center top 0px; z-index: 2123; position: absolute; top: 65px; left: 28px;">
			<div class="el-scrollbar">
				<div class="el-select-dropdown__wrap el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
					<ul class="el-scrollbar__view el-select-dropdown__list">
						<li class="el-select-dropdown__item" key="StuNo"><span>书籍名称</span></li>
						<!-- <li class="el-select-dropdown__item" key="StuName"><span></span></li> -->
					</ul>
				</div>
			</div>
		</div>

		<div class="v-modal" tabindex="0" style="z-index: 2002;display: none;"></div>
		<!-- <script src="js/main.js"></script> -->
	</body>

</html>
